@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: Manrope, sans-serif;
  color: #333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.4375rem;
}
.title__center {
  text-align: center;
}

.simple-rating {
  position: relative;
  font-size: 1.125rem;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: rgb(226, 220, 190);
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (max-width: 74.9988em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.9363em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.9988em) {
  [class*=__container] {
    max-width: none;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__container {
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.9375rem;
  min-height: 6.4375rem;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.9988em) {
  .header__container {
    flex-direction: column;
    min-height: 0;
  }
}
.header__logo {
  font-size: 1.4375rem;
  color: inherit;
  font-weight: 800;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2.875rem;
       column-gap: 2.875rem;
  row-gap: 0.625rem;
}
@media (max-width: 47.9988em) {
  .menu__list {
    justify-content: center;
  }
}
.menu__link {
  font-family: DM Sans, sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  color: inherit;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 47.9988em) {
  .menu__link {
    font-size: 1.125rem;
  }
}

.main-block {
  padding-bottom: 6.875rem;
}
.main-block__container {
  padding-top: 11.4375rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 74.9988em) {
  .main-block__container {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
  }
}
.main-block__container::after {
  content: "";
  background: #BDCCFF;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  left: 66%;
}
.main-block__body {
  margin-bottom: 0.875rem;
}
@media (max-width: 74.9988em) {
  .main-block__body {
    margin-bottom: 2.5rem;
  }
}

.body-main-block {
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media (max-width: 74.9988em) {
  .body-main-block {
    display: block;
  }
}
.body-main-block__content {
  flex: 0 1 50%;
}
@media (max-width: 74.9988em) {
  .body-main-block__content {
    margin-bottom: 2.5rem;
  }
}
.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}
.body-main-block__arrows {
  position: absolute;
  bottom: -3.25rem;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.body-main-block__arrow.swiper-button-prev, .body-main-block__arrow.swiper-button-next {
  position: static;
  height: 1.25rem;
  width: 0.6875rem;
  background: url("../img/main/icons/arrov.svg") 0 0/100% no-repeat;
}
.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}
.body-main-block__arrow::after {
  display: none;
}

.content-main-block {
  padding-top: 2.5rem;
  position: relative;
  z-index: 2;
}
.content-main-block__sub-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.35;
  color: #FF9900;
  /* 29/22 */
}
.content-main-block__sub-title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.content-main-block__body {
  padding-right: 5rem;
}
@media (max-width: 74.9988em) {
  .content-main-block__body {
    padding-right: 0;
  }
}
.content-main-block__title {
  font-weight: 800;
  line-height: 1.35;
  /* 73/54 */
  font-size: 3.375rem;
}
.content-main-block__title:not(:last-child) {
  margin-bottom: 1.4375rem;
}
@media (max-width: 47.9988em) {
  .content-main-block__title {
    font-size: 1.875rem;
    line-height: 120%;
  }
}
.content-main-block__text {
  font-size: 1.0625rem;
}
.content-main-block__form {
  margin-top: 3rem;
}

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}
.slider-main-block__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-main-block {
  display: flex;
  margin-right: -11.75rem;
  position: relative;
  z-index: 4;
  background: #fff url("../img/main/home.svg") 2.0625rem 2rem no-repeat;
  box-shadow: 0px 0.1157rem 0.1968rem 0px rgba(0, 0, 0, 0.01), 0px 0.5093rem 0.4074rem 0px rgba(0, 0, 0, 0.01), 0px 1.25rem 0.8125rem 0px rgba(0, 0, 0, 0.01), 0px 2.4074rem 1.5926rem 0px rgba(0, 0, 0, 0.02), 0px 4.0509rem 2.9282rem 0px rgba(0, 0, 0, 0.02), 0px 6.25rem 5rem 0px rgba(0, 0, 0, 0.03);
}
@media (max-width: 74.9988em) {
  .form-main-block {
    margin-right: 0;
  }
}
@media (max-width: 47.9988em) {
  .form-main-block {
    display: block;
  }
}
@media (max-width: 29.9988em) {
  .form-main-block {
    background: #fff;
  }
}
.form-main-block__input {
  height: 5.375rem;
  border: 0.0625rem solid #DADADA;
  font-size: 1.25rem;
  padding: 0 0 0 4.625rem;
  background-color: transparent;
  width: 100%;
  flex: 1 1 auto;
}
@media (max-width: 29.9988em) {
  .form-main-block__input {
    padding: 0 0.9375rem;
  }
}
.form-main-block__input::-moz-placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__input::placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__button {
  cursor: pointer;
  background-color: #F85A47;
  width: 11.75rem;
  height: 5.375rem;
  padding: 0.3125rem 0.9375rem;
  font-weight: 600;
  flex: 0 0 11.75rem;
  font-size: 1.0625rem;
  line-height: 1.35;
  /* 23/17 */
  letter-spacing: 0.01em;
  color: #fff;
}
@media (max-width: 47.9988em) {
  .form-main-block__button {
    width: 100%;
  }
}

.partners-main-block {
  max-width: 65%;
}
@media (max-width: 74.9988em) {
  .partners-main-block {
    max-width: none;
    position: relative;
    z-index: 2;
  }
}
.partners-main-block__label {
  font-size: 1.0625rem;
  margin-bottom: 1.5625rem;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.9988em) {
  .partners-main-block__items {
    justify-content: center;
  }
}
.partners-main-block__item img {
  max-width: 100%;
}

.how {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}
.how__title {
  margin-bottom: 4.375rem;
}
.how__items {
  display: grid;
  padding: 0 2.1875rem;
  grid-template-columns: repeat(3, minmax(auto, 16.25rem));
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 2.5rem;
  justify-content: space-between;
}
@media (max-width: 47.9988em) {
  .how__items {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 61.9375em) {
  .how__items {
    padding: 0 2.1875rem;
  }
}

.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}
.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 2.5625rem;
  transform: translate(86.5%, 0px);
  width: 13.125rem;
  height: 0.6875rem;
  background: url("../img/how/border_1.svg") 0 0/100% no-repeat;
}
@media (max-width: 74.9988em) {
  .item-how:not(:last-child)::after {
    width: 10.625rem;
    transform: translate(69%, 0px);
  }
}
@media (max-width: 61.9363em) {
  .item-how:not(:last-child)::after {
    width: 7.5rem;
    transform: translate(64%, 0px);
  }
}
@media (max-width: 47.9988em) {
  .item-how:not(:last-child)::after {
    display: none;
  }
}
.item-how-2:not(:last-child)::after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}
@media (max-width: 74.9988em) {
  .item-how-2:not(:last-child)::after {
    transform: translate(69%, 0px);
  }
}
@media (max-width: 61.9363em) {
  .item-how-2:not(:last-child)::after {
    transform: translate(64%, 0px);
  }
}
.item-how__icon {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 1.25rem;
  margin-bottom: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}
@media (max-width: 47.9988em) {
  .item-how__icon {
    margin-bottom: 1.5625rem;
  }
}
.item-how-1 .item-how__icon {
  background: #9672FF;
  box-shadow: 0px 0.1157rem 0.1968rem 0px rgba(150, 114, 255, 0.02), 0px 0.5093rem 0.4074rem 0px rgba(150, 114, 255, 0.03), 0px 1.25rem 0.8125rem 0px rgba(150, 114, 255, 0.04), 0px 2.4074rem 1.5926rem 0px rgba(150, 114, 255, 0.04), 0px 4.0509rem 2.9282rem 0px rgba(150, 114, 255, 0.05), 0px 6.25rem 5rem 0px rgba(150, 114, 255, 0.07);
}
.item-how-2 .item-how__icon {
  background: #4DDFFD;
  box-shadow: 0px 0.1157rem 0.1968rem 0px rgba(77, 223, 253, 0.02), 0px 0.5093rem 0.4074rem 0px rgba(77, 223, 253, 0.03), 0px 1.25rem 0.8125rem 0px rgba(77, 223, 253, 0.04), 0px 2.4074rem 1.5926rem 0px rgba(77, 223, 253, 0.04), 0px 4.0509rem 2.9282rem 0px rgba(77, 223, 253, 0.05), 0px 6.25rem 5rem 0px rgba(77, 223, 253, 0.07);
}
.item-how-3 .item-how__icon {
  background: #F2B8EC;
  box-shadow: 0px 0.1157rem 0.1968rem 0px rgba(242, 184, 236, 0.02), 0px 0.5093rem 0.4074rem 0px rgba(242, 184, 236, 0.03), 0px 1.25rem 0.8125rem 0px rgba(242, 184, 236, 0.04), 0px 2.4074rem 1.5926rem 0px rgba(242, 184, 236, 0.04), 0px 64.81481px 46.85185px 0px rgba(242, 184, 236, 0.05), 0px 6.25rem 5rem 0px rgba(242, 184, 236, 0.07);
}
.item-how__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.9988em) {
  .item-how__title {
    margin-bottom: 3.125rem;
  }
}

.deals {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}
.deals__header {
  margin-bottom: 3.125rem;
}

.header-deals {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
}
.header-deals__content {
  flex: 1 1 auto;
}
.header-deals__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.header-deals__text {
  max-width: 29.375rem;
  line-height: 1.5rem;
}
.header-deals__link {
  background-color: #F85A47;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 1.0625rem;
  text-align: center;
  color: #fff;
  line-height: 1.4375rem;
  padding: 1.375rem 2.0625rem;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 0.3125rem;
}
.header-deals__link:hover {
  background-color: #b9473a;
}

.tabs-deals__nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
  row-gap: 0.625rem;
  margin-bottom: 2.1875rem;
}
.tabs-deals__button {
  font-size: 1.1875rem;
  line-height: 26px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.tabs-deals__button:hover {
  color: #F85A47;
  transition: color 0.3s ease 0s;
}
.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 0.0625rem;
  transition: all 0.3s ease 0s;
  background-color: #F85A47;
}
.tabs-deals__button:hover::after {
  width: 100%;
}
.tabs-deals__button.active {
  color: #F85A47;
}
.tabs-deals__button.active::after {
  width: 100%;
}

.item-tabs {
  display: none;
}
.item-tabs.active {
  display: block;
}
.item-tabs__items {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  position: absolute;
  top: 0.875rem;
  left: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  z-index: 9;
}
.item-tabs__option {
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0.375rem 0.75rem;
  transition: background-color 0.3s ease 0s;
}
.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  border-radius: 0.3125rem;
  overflow: hidden;
}
.item-tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease 0s;
}
.item-tabs__image img:hover {
  transform: scale(1.1);
}

.featured__title {
  margin-bottom: 5.9375rem;
}
@media (max-width: 61.9363rem) {
  .featured__title {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 47.9988rem) {
  .featured__title {
    margin-bottom: 1.875rem;
  }
}
.featured__body {
  background: #f1ffff;
  display: grid;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8125rem;
}
@media (max-width: 61.9363rem) {
  .featured__body {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 47.9988rem) {
  .featured__body {
    margin: 0 -0.9375rem;
    padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
  }
}
.featured__content {
  display: flex;
  flex-direction: column;
}

.images-featured {
  display: grid;
  justify-items: center;
}
.images-featured__item img {
  max-width: 100%;
}
.images-featured__item-mini {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  margin-top: -7.125rem;
}

.content-featured__title {
  font-size: 31px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 1.5625rem;
  /* 42/31 */
}
@media (max-width: 47.9988rem) {
  .content-featured__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 61.9375rem) {
  .content-featured__body {
    max-width: 25.75rem;
    padding-top: 2.5rem;
    flex: 1 1 auto;
  }
}
.content-featured__text {
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
.content-featured__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1875rem;
  margin-bottom: 3.4375rem;
}
.content-featured__link {
  background: #F85A47;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2.1875rem;
  text-align: center;
  line-height: 150%;
  display: block;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 0.3125rem;
}
@media (min-width: 61.9375rem) {
  .content-featured__link {
    max-width: 25.75rem;
  }
}
.content-featured__link:hover {
  background: #cf4a3b;
}

.options-content-featured__label {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.35;
  margin-bottom: 0.625rem;
  /* 23/17 */
}
.options-content-featured__value {
  font-size: 1.0625rem;
}

.reviews {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}
@media (max-width: 61.9988rem) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988rem) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.reviews__title {
  margin-bottom: 3.125rem;
  max-width: 35.625rem;
}
.reviews__items {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
}
.item-reviews {
  color: inherit;
  padding: 50px 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  box-shadow: none;
}
.item-reviews:hover {
  border: 1px solid transparent;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}
.item-reviews__raiting {
  margin-bottom: 2.0625rem;
}
.item-reviews__text {
  line-height: 1.5;
}